<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <mat-form-field>
    <input
      matInput name ="username" ngModel type="text" placeholder="Benutzername" #usernameInput="ngModel" required>
    <mat-error *ngIf="usernameInput.invalid">Bitte geben Sie Ihren Benutzernamen ein!</mat-error>
  </mat-form-field>
  <mat-form-field>
  <input
  matInput name ="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
  <mat-error *ngIf="emailInput.invalid">Bitte geben Sie E-Mail ein!</mat-error>
</mat-form-field>
<mat-form-field>
  <input
    matInput type="password"  name="passwort"  ngModel placeholder="Passwort" #passwortInput="ngModel" required>
  <mat-error *ngIf="passwortInput.invalid">Bitte geben Sie ein Passwort ein!</mat-error>
</mat-form-field>
<button
mat-raised-button
color="primary"
type="submit"
*ngIf="!isLoading">Signup</button>
</form>
</mat-card>



