:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;

}

mat-paginator{
  margin-top: 1rem;
}

.post-image{
  width: 100%;
}

.post-image img{
  width:100%;
}


.example-card{
  max-width: 600px;
  margin: auto;
}

.mat-card{
  margin-bottom: 1rem;
}

.mat-card-actions .flex-spacer{
  width: 100;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,0.5);
}



#searchText:focus{
    color: #7b1fa2;
}



#searchText {
  width: 98%;
  display: flex;
  border: 3px solid #3f51b5;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

#searchText:invalid {
  border: 3px solid red;
}
