:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;

}

mat-paginator{
  margin-top: 1rem;
}

.post-image{
  width: 100%;
}

.post-image img{
  width:100%;
  box-shadow: 1px 1px 5px rgba(255,255,255,0.5) ;
}

#searchText {
  width: 100%;
  display: flex;
  border: 3px solid #7b1fa2;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}

#searchText:focus{
    color: #7b1fa2;
}

.wrap {
  width: 10%;
  position: absolute;
  top: 3.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
